apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-app
  namespace: default
  labels:
    app: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: nginx
        image: viktorisup1/myapp:latest
        ports:
        - containerPort: 8080